<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>HW1</title>
  </head>
  <body>
    <header class="header center">
      <div class="header__left">
        <a href="index.html"
          ><img src="img/Logo.svg" alt="header_logo" /><span>Interno</span></a
        >
      </div>
      <div class="header__right">
        <a href="index.html">Home</a>
        <a href="#Projects">Project</a>
        <a href="blog.html">Blog</a>
      </div>
    </header>
    <section class="promo">
      <div class="promo__heading">
        <h1 class="promo__heading-title">Let Your Home<br />Be Unique</h1>
        <p class="promo__heading-text">
          There are many variations of the passages of<br />lorem Ipsum
          fromavailable, majority.
        </p>
        <div class="promo__heading-btn">
          <a href="#">Get Started <img src="img/arrow.svg" alt="arrow" /></a>
        </div>
      </div>
    </section>
    <section id="Projects" class="projects">
      <div class="projects__heading">
        <h2 class="projects__heading-title">Follow Our Projects</h2>
        <p class="projects__heading-desc">
          It is a long established fact that a reader will be distracted by the
          of readable content of page lookings at its layouts points.
        </p>
      </div>
      <div class="projects__cards">
        <div class="projects__card">
          <div class="projects__card-img">
            <img src="img/project1.svg" alt="projects_img" />
          </div>
          <div class="projects__card-content">
            <div class="projects__card-content_text">
              <h3 class="projects__card-content_title">Modern Kitchen</h3>
              <p class="projects__card-content_desc">Decor / Artchitecture.</p>
            </div>
            <div class="projects__card-content_btn">
              <img src="img/Vector.svg" alt="vector" />
            </div>
          </div>
        </div>
        <div class="projects__card">
          <div class="projects__card-img">
            <img src="img/project2.svg" alt="projects_img" />
          </div>
          <div class="projects__card-content">
            <div class="projects__card-content_text">
              <h3 class="projects__card-content_title">Modern Kitchen</h3>
              <p class="projects__card-content_desc">Decor / Artchitecture.</p>
            </div>
            <div class="projects__card-content_btn">
              <img src="img/Vector.svg" alt="vector" />
            </div>
          </div>
        </div>
        <div class="projects__card">
          <div class="projects__card-img">
            <img src="img/project3.svg" alt="projects_img" />
          </div>
          <div class="projects__card-content">
            <div class="projects__card-content_text">
              <h3 class="projects__card-content_title">Modern Kitchen</h3>
              <p class="projects__card-content_desc">Decor / Artchitecture.</p>
            </div>
            <div class="projects__card-content_btn">
              <img src="img/Vector.svg" alt="vector" />
            </div>
          </div>
        </div>
        <div class="projects__card">
          <div class="projects__card-img">
            <img src="img/project4.svg" alt="projects_img" />
          </div>
          <div class="projects__card-content">
            <div class="projects__card-content_text">
              <h3 class="projects__card-content_title">Modern Kitchen</h3>
              <p class="projects__card-content_desc">Decor / Artchitecture.</p>
            </div>
            <div class="projects__card-content_btn">
              <img src="img/Vector.svg" alt="vector" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="achievements center">
      <div class="achievements__card">
        <h3 class="achievements__card-title">12</h3>
        <p class="achievements__card-desc">Years Of Experience</p>
      </div>
      <div class="achievements__card">
        <h3 class="achievements__card-title">85</h3>
        <p class="achievements__card-desc">Success Projects</p>
      </div>
      <div class="achievements__card">
        <h3 class="achievements__card-title">15</h3>
        <p class="achievements__card-desc">Active Projects</p>
      </div>
      <div class="achievements__card">
        <h3 class="achievements__card-title">95</h3>
        <p class="achievements__card-desc">Happy Customers</p>
      </div>
    </section>

    <section id="Blog" class="blog center">
      <div class="blog__heading">
        <h2 class="blog__heading-title">Articles & News</h2>
        <p class="blog__heading-desc">
          It is a long established fact that a reader will be distracted by the
          of readable content of a page when lookings at its layouts the points
          of using.
        </p>
      </div>
      <div class="blog__cards">
        <div class="blog__card">
          <div class="blog__card-image">
            <img class="blog__card-img" src="img/card1.svg" alt="blog_img" />
            <div class="blog__card-tag">Kitchen Design</div>
          </div>
          <div class="blog__card-content">
            <h3 class="blog__card-logo">
              Let’s Get Solution For Building Construction Work
            </h3>
            <p class="blog__card-date">26 December, 2022</p>
            <div class="blog__card-btn">
              <img src="img/Vector.svg" alt="vector" />
            </div>
          </div>
        </div>
        <div class="blog__card">
          <div class="blog__card-image">
            <img class="blog__card-img" src="img/card2.svg" alt="blog_img" />
            <div class="blog__card-tag">Living Design</div>
          </div>
          <div class="blog__card-content">
            <h3 class="blog__card-logo">
              Low Cost Latest Invented Interior Designing<br />Ideas.
            </h3>
            <p class="blog__card-date">26 December, 2022</p>
            <div class="blog__card-btn">
              <img src="img/Vector.svg" alt="vector" />
            </div>
          </div>
        </div>
        <div class="blog__card">
          <div class="blog__card-image">
            <img class="blog__card-img" src="img/card3.svg" alt="blog_img" />
            <div class="blog__card-tag">Interior Design</div>
          </div>
          <div class="blog__card-content">
            <h3 class="blog__card-logo">
              Best For Any Office & Business Interior<br />Solution
            </h3>
            <p class="blog__card-date">26 December, 2022</p>
            <div class="blog__card-btn">
              <img src="img/Vector.svg" alt="vector" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer__main">
        <div class="footer__main-logo">
          <a href="index.html"
            ><img src="img/Logo.svg" alt="footer_logo" /><span>Interno</span></a
          >
        </div>
        <p class="footer__main-text">
          It is a long established fact that a reader will be distracted
          lookings.
        </p>
        <div class="footer__main-social">
          <a href="#"><img src="img/twitter.svg" alt="twitter" /></a>
          <a href="#"><img src="img/instagram.svg" alt="instagram" /></a>
        </div>
      </div>
      <div class="footer__menu">
        <h3 class="footer__menu-title">Pages</h3>
        <a href="index.html">Home</a>
        <a href="#Projects">Project</a>
        <a href="blog.html">Blog</a>
      </div>
      <div class="footer__contacts">
        <h3 class="footer__contacts-title">Contact</h3>
        <p class="footer__contacts-text">
          55 East Birchwood Ave. Brooklyn, New York 11201
        </p>
        <p class="footer__contacts-text">contact@interno.com</p>
        <p class="footer__contacts-text">(123) 456 - 7890</p>
      </div>
    </footer>
  </body>
</html>
